{% extends 'base.html.twig' %}

{% block title %}Affichage [{{ nomDuDossier }}]{% endblock %}

{% block body %}
<h1>Affichage de [{{ nomDuDossier }}]</h1>

    <div class="row">
    {% for fichier in fichiers %}
        {% include "home/_chaton.html.twig" %}
    {% endfor %}
    </div>

    <h2>Ajouter un chaton</h2>
    {{ form(formulaire) }}
{% endblock %}
